.card {
    @apply bg-white rounded-lg shadow-lg p-6;
}

.card-gray {
    @apply bg-gray-200 rounded-lg shadow-lg p-6;
}


/*Estilos para las marcas de tiempo*/
.time-blue {
    @apply bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400;
}

.time-indigo {
    @apply bg-indigo-100 text-indigo-800 text-xs font-medium inline-flex items-center me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400;
}

.time-gray {
    @apply bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500;
}

/*Estilos para los estados de las consultas*/
.new-state {
    @apply bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300;

}

.pending-state {
    @apply bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400;
}

.attended-state {
    @apply bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400;

}